<!doctype html>
<html>

<head>
    <title>{{title}}</title>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            line-height: 1.6;
        }
    </style>
</head>

<body>
    {{{body}}}

    <script src="dist/bundle.js"></script>
</body>

</html>